
<link rel="stylesheet" href="~/css/cardlayout.css" />
<div class="card">
    <div class="card-header">Header</div>
    <div class="card-body">
       @Model
    </div>
    <div class="card-footer">
        Footer
    </div>
</div>
